html {
    background-color: rgba(0,0,0,0.75)
}

h1 {
    text-align: center;
    color: aqua;
}

h3 {
    text-align: center;
    color: cadetblue;
}

#gameTitle {
    text-align: center;
}

#game {
    background-color: rgba(50,50,50,0.5);
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 500px;
}

#Block {
    background-color: aqua;
    height: 50px;
    width: 50px;
    position: absolute;
}